@media (min-width: 992px) {
  .modal-xlg {
    max-width: 800px;
  }
}
@media (min-width: 1300px) {
  .modal-xlg {
    max-width: 1200px;
  }
}
.cuvee-image {
  cursor: pointer;
}
.modal-content {
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}
.modal-body-cuvee {
  background: url('../../images/bois_modal.jpg');
  color: white;
  min-height: 100px;
}
.modal-body-cuvee p {
  color: white;
}
.modal-body-cuvee .title-main {
  color: #faed26;
  text-transform: uppercase;
  margin: 3px;
}
.modal-body-cuvee .title-category {
  color: #faed26;
}
.modal-body-vintage {
  background: url('../../images/clair_modal.jpg');
  min-height: 100px;
}
.modal-body-vintage .title-main {
  color: #8860d0;
  text-transform: uppercase;
  margin: 3px;
}
.title {
  color: #8860d0;
}
.bottle_line {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid black;
}
.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}
.card-vintage {
  margin-bottom: 10px;
  transition: 0.3s;
  background: #F4F4F4;
  border: 0px;
}
.card-vintage:hover {
  background: #F1F1F1;
  box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.3);
}
.card-vintage img {
  width: 120px;
}
.card-vintage-promoted {
  border-right: 4px solid #8860d0;
}
.pointer:hover {
  cursor: pointer;
}
.vintage-modal-button-div {
  cursor: pointer;
}

.layer {
  background-color: rgba(0, 0, 0, 0.2);
}