.row-photo {
    margin: 5px;
    text-align: center;
}

.col-photo {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.col-photo img {
    box-shadow: 0 10px 30px -12px rgba(0,0,0,.42), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
    max-width: 100%;
}

.strikethrough {
    position: relative;
}
.strikethrough:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid;
    border-color: inherit;

    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    -ms-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);
    transform:rotate(-15deg);
}

/********** Badge ************/
.badge-payed {
    background: green;
}

.badge.badge-init {
    background: darkred;
}