<header>
    <nav>
        <div class="menu-icon">
            <i class="fa fa-bars fa-2x"></i>
        </div>
        <div class="logo">
            LOGO
        </div>
        <div class="menu">
            <ul>
                <li><a href="{{ path('client_home') }}">Accueil</a></li>
                <li><a href="#">Le Domaine</a></li>
                <li><a href="#">Les Cuvées</a></li>
                <li><a href="#">Commander</a></li>
                <li><a href="{{ path('client_contact') }}">Contact</a></li>
            </ul>
        </div>
    </nav>
</header>