{% if hasCode %}
<div class="promo-code-view d-none d-md-block ">
        Code promo "{{ promoCode.code }}" : {{ promoCode.description }}
</div>
{% endif %}
<div class="promo-code-view d-none d-md-block ">
        Offre Spéciale Paques : 3 bouteilles offertes toutes les 24 bouteilles ou 2 bag in box
</div>