{% if hasCode %}
<div class="promo-code-view d-none d-md-block ">
        Code promo "{{ promoCode.code }}" : {{ promoCode.description }}
</div>
{% endif %}
<!--<div class="promo-code-view d-none d-md-block ">
</div>-->