@import "../variable";

.cuvee-image {
  cursor: pointer;
}

.modal-body-cuvee {
  background: url("../../../images/back_grey.png");
  color: white;
  padding: 20px;

  p {
    color: white;
  }

  .title-main {
    color: @main-title-color;
    text-transform: uppercase;
    margin: 3px;
  }

  .title-category {
    color: @main-title-color;

  }
}

.title {
  color: @main-color;
}
.bottle_line {
  padding-bottom: 5px;
  margin-bottom:5px;
  border-bottom: 1px solid black;
}