{% extends 'client/basePayment.html.twig' %}

{% set step = 'payment' %}

{% block meta %}
    <meta http-equiv="refresh" content="3;url={{ redirectUrl }}" />
{% endblock %}

{% block return_to_order %}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="order-card">
                    <p class="t-center m-b-20">
                        {{ 'Vous allez être redirigé vers le site de paiement en ligne (Paypal) ...' }}
                    </p>
                    <p class="t-center t-underline">
                        <a href="{{ redirectUrl }}">Accéder à la page de paiement</a><br>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
