{% extends 'client/base.html.twig' %}
{% block title %}Commande{% endblock %}
{% block title_page %}Commande{% endblock %}

{% block body %}
    <div style="text-align: center;height: 300px;">
        A venir
    </div>
{% endblock %}
