{% extends 'admin/base.html.twig' %}
{% set page = 'message' %}

{% block content %}
<div class="row flex-column-reverse flex-md-row" >
    <div class="col-md-4">
        <div class="card">
            <div class="card-header card-header-text card-header-primary">
                <div class="card-text">
                    <h4 class="card-title"><i class="material-icons">list</i>Liste</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                            <tr class="font-weight-bold">
                                <td>
                                    <i class="material-icons text-primary">person</i> Jean Durant <span class="badge badge-info">New</span><br>
                                    <b>Demande de contact</b> <span class="d-none d-xl-inline">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</span>
                                </td>
                                <td style="vertical-align:top;text-align: right">
                                    <i class="material-icons  text-primary">date_range</i><br>
                                    18/04/2018
                                </td>
                            </tr>
                            <tr class="table-warnng">
                                <td>
                                    <i class="material-icons text-primary">person</i> Jean Durant<br>
                                    <b>Demande de contact</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit...
                                </td>
                                <td style="vertical-align:top;text-align: right">
                                    <i class="material-icons  text-primary">date_range</i><br>
                                    18/04/2018
                                </td>
                            </tr>
                            <tr class="table-warnng">
                                <td>
                                    <i class="material-icons text-primary">person</i> Jean Durant<br>
                                    <b>Demande de contact</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit...
                                </td>
                                <td style="vertical-align:top;text-align: right">
                                    <i class="material-icons  text-primary">date_range</i><br>
                                    18/04/2018
                                </td>
                            </tr>
                            <tr class="table-warnng">
                                <td>
                                    <i class="material-icons text-primary">person</i> Jean Durant<br>
                                    <b>Demande de contact</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit...
                                </td>
                                <td style="vertical-align:top;text-align: right">
                                    <i class="material-icons  text-primary">date_range</i><br>
                                    18/04/2018
                                </td>
                            </tr>
                            <tr class="table-warnng">
                                <td>
                                    <i class="material-icons text-primary">person</i> Jean Durant<br>
                                    <b>Demande de contact</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit...
                                </td>
                                <td style="vertical-align:top;text-align: right">
                                    <i class="material-icons  text-primary">date_range</i><br>
                                    18/04/2018
                                </td>
                            </tr>
                            <tr class="table-warnng">
                                <td>
                                    <i class="material-icons text-primary">person</i> Jean Durant<br>
                                    <b>Demande de contact</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit...
                                </td>
                                <td style="vertical-align:top;text-align: right">
                                    <i class="material-icons  text-primary">date_range</i><br>
                                    18/04/2018
                                </td>
                            </tr>
                            <tr class="table-warnng">
                                <td>
                                    <i class="material-icons text-primary">person</i> Jean Durant<br>
                                    <b>Demande de contact</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit...
                                </td>
                                <td style="vertical-align:top;text-align: right">
                                    <i class="material-icons  text-primary">date_range</i><br>
                                    18/04/2018
                                </td>
                            </tr>
                            <tr class="table-warnng">
                                <td>
                                    <i class="material-icons text-primary">person</i> Jean Durant<br>
                                    <b>Demande de contact</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit...
                                </td>
                                <td style="vertical-align:top;text-align: right">
                                    <i class="material-icons  text-primary">date_range</i><br>
                                    18/04/2018
                                </td>
                            </tr>
                            <tr class="table-warnng">
                                <td>
                                    <i class="material-icons text-primary">person</i> Jean Durant<br>
                                    <b>Demande de contact</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit...
                                </td>
                                <td style="vertical-align:top;text-align: right">
                                    <i class="material-icons  text-primary">date_range</i><br>
                                    18/04/2018
                                </td>
                            </tr>
                            <tr class="table-warnng">
                                <td>
                                    <i class="material-icons text-primary">person</i> Jean Durant<br>
                                    <b>Demande de contact</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit...
                                </td>
                                <td style="vertical-align:top;text-align: right">
                                    <i class="material-icons  text-primary">date_range</i><br>
                                    18/04/2018
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8" >
        <div class="card">
            <div class="card-header card-header-text card-header-primary">
                <div class="card-text">
                    <h4 class="card-title"><i class="material-icons">message</i> Message</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="row" >
                    <div class="col-md-6">
                        <strong class="text-primary">De : </strong>Jean Dupont (jean.dupont@mail.com)
                    </div>
                    <div class="col-md-6 text-right">
                        Mardi 18 Février 2019 20:12:09
                    </div>
                </div>
                <div class="row" style="border-bottom: 1px solid #DDDDDD; border-top: 1px solid #AAAAAA; margin: 5px 0px 10px 0px;">
                    <div class="col-xl-12">
                        <strong class="text-primary">Objet : </strong>Demande de contact
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <strong class="text-primary">Message : </strong><br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum commodo mauris eget ex dictum ullamcorper. Nulla nec nunc iaculis quam tincidunt aliquam pellentesque sed magna.
                        Donec in ipsum dignissim, pellentesque mi in, cursus odio. Aenean a nulla a sem cursus convallis a in urna. Aliquam a ligula arcu. Aenean tincidunt congue ultricies.
                        Sed convallis felis blandit ligula blandit,
                        ultrices consectetur est elementum. Etiam dui mauris, fringilla quis vestibulum id, consequat a enim. Nunc ut ullamcorper nisi, sed hendrerit nisl.
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-dark" >Archiver</a>
                <a href="#" class="btn btn-danger">Supprimer</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}