{% extends 'admin/base.html.twig' %}
{% set page = 'pricing' %}

{% block content %}
    <div class="row"></div>
<div class="row flex-column-reverse flex-md-row" >
    <div class="col-md-6">

        <div class="card">
            <div class="card-header card-header-text card-header-primary">
                <div class="card-text">
                    <h4 class="card-title"><i class="material-icons">list</i>Frais de port</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="text-primary">
                            <tr>
                                <th>Catégorie</th>
                                <th>6-11</th>
                                <th>12-17</th>
                                <th>18-29</th>
                                <th>30-48</th>
                                <th>49-60</th>
                                <th>61-128</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Catégorie 1</td>
                                <td><input type="number" style="width: 80px" value="1.2"></td>
                                <td><input type="number" style="width: 80px" value="1.2"></td>
                                <td><input type="number" style="width: 80px" value="1.2"></td>
                                <td><input type="number" style="width: 80px" value="1.2"></td>
                                <td><input type="number" style="width: 80px" value="1.2"></td>
                                <td><input type="number" style="width: 80px" value="1.2"></td>
                            </tr>
                            <tr>
                                <td>Catégorie 2</td>
                                <td><input type="number" style="width: 80px" value="1.2"></td>
                                <td><input type="number" style="width: 80px" value="1.2"></td>
                                <td><input type="number" style="width: 80px" value="1.2"></td>
                                <td><input type="number" style="width: 80px" value="1.2"></td>
                                <td><input type="number" style="width: 80px" value="1.2"></td>
                                <td><input type="number" style="width: 80px" value="1.2"></td>
                            </tr>
                            <tr>
                                <td>Catégorie 3</td>
                                <td><input type="number" style="width: 80px" value="1.2"></td>
                                <td><input type="number" style="width: 80px" value="1.2"></td>
                                <td><input type="number" style="width: 80px" value="1.2"></td>
                                <td><input type="number" style="width: 80px" value="1.2"></td>
                                <td><input type="number" style="width: 80px" value="1.2"></td>
                                <td><input type="number" style="width: 80px" value="1.2"></td>
                            </tr>
                            <tr>
                                <td>Catégorie 4</td>
                                <td><input type="number" style="width: 80px" value="1.2"></td>
                                <td><input type="number" style="width: 80px" value="1.2"></td>
                                <td><input type="number" style="width: 80px" value="1.2"></td>
                                <td><input type="number" style="width: 80px" value="1.2"></td>
                                <td><input type="number" style="width: 80px" value="1.2"></td>
                                <td><input type="number" style="width: 80px" value="1.2"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6" >
        <div class="card">
            <div class="card-header card-header-text card-header-primary">
                <div class="card-text">
                    <h4 class="card-title"><i class="material-icons">message</i> Catégories</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="text-primary">
                            <tr>
                                <th class="text-center">#</th>
                                <th>Département</th>
                                <th style="width:100px">Ajouter</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Catégorie 1
                                </td>
                                <td>
                                    <span class="badge badge-info">01</span>
                                    <span class="badge badge-info">02</span>
                                    <span class="badge badge-info">04</span> ...
                                </td>
                                <td>
                                    <input type="number" style="width: 80px">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Catégorie 2
                                </td>
                                <td>
                                    <span class="badge badge-info">03</span>
                                    <span class="badge badge-info">05</span>
                                    <span class="badge badge-info">07</span>
                                    <span class="badge badge-info">13</span>
                                    <span class="badge badge-info">23</span>
                                    <span class="badge badge-info">33</span>
                                    <span class="badge badge-info">34</span>
                                    <span class="badge badge-info">37</span>
                                    <span class="badge badge-info">44</span>
                                    <span class="badge badge-info">49</span>
                                    <span class="badge badge-info">85</span>
                                    <span class="badge badge-info">41</span> ...

                                </td>
                                <td>
                                    <input type="number" style="width: 80px">
                                    <!--<a href="#" class="btn btn-success btn-simple">
                                        <i class="material-icons">done</i>
                                    </a>-->
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Catégorie 1
                                </td>
                                <td>
                                    <span class="badge badge-info">01</span>
                                    <span class="badge badge-info">02</span>
                                    <span class="badge badge-info">04</span> ...
                                </td>
                                <td>
                                    <input type="number" style="width: 80px">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Catégorie 1
                                </td>
                                <td>
                                    <span class="badge badge-info">01</span>
                                    <span class="badge badge-info">02</span>
                                    <span class="badge badge-info">04</span> ...
                                </td>
                                <td>
                                    <input type="number" style="width: 80px">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}