{% extends 'admin/base.html.twig' %}

{% block subnavbar %}
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link {% if page is defined and page == 'bottle' %}active{% endif %}"  href="{{ path('admin_product_bottle') }}">Bouteille</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link {% if page is defined and page == 'cuvee' %}active{% endif %}"  href="{{ path('admin_product_cuvee') }}">Cuvée</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if page is defined and page == 'wineType' %}active{% endif %}"  href="{{ path('admin_product_wineType') }}">Type de vin</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if page is defined and page == 'capacity' %}active{% endif %}"  href="{{ path('admin_product_capacity') }}">Capacité</a>
        </li>
    </ul>
{% endblock %}
